apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app-2048
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      containers:
        - name: react-app-container
          image: tongheng205/react-app-2048-ss:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
